<div class="note-container">
    <div>
        <div>
            <h6>PINNED</h6>
            <div style="display: flex;flex-direction: row; flex-wrap:wrap;">
                <div *ngFor="let note2 of notes">
                    <app-pinned-note-view *ngIf="!note2.inArchieve && !note2.inTrash && note2.pined" [note]="note2">
                    </app-pinned-note-view>
                </div>
            </div>
        </div>
        <div>
            <h6 style="margin-top: 20px;">OTHERS</h6>
            <div style="display: flex;flex-direction: row; flex-wrap:wrap">
                <div *ngFor="let note1 of notes">
                    <app-note-view *ngIf="!note1.inArchieve && !note1.inTrash && !note1.pined" [note]="note1"></app-note-view>
                </div>
            </div>
        </div>
    </div>
</div>