
.note-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap:wrap;
}

.note{
    padding: 10px;
}

.example-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;

}